@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --btn: #EA9C1C;
    --btn-hover: #DC530C;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: var(--white);
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    display: flex;
}

.barbie {
    background: var(--white) url("img/barbie.jpg") no-repeat scroll center;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

.oppenheimer {
    background: var(--white) url("img/oppenheimer.png") no-repeat scroll center;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

.barbie-wrapper {
    background-color: rgba(15, 5, 8, 0.1);
    height: 165%;
}

.oppenheimer-wrapper {
    background-color: rgba(15, 5, 8, 0.1);
    height: 165%;
}

.barbie-content,
.oppenheimer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.barbie,
.barbie-content,
.oppenheimer,
.oppenheimer-content {
    transition: all 0.5s ease-in-out;
}

.barbie:hover {
    width: 90%;
}

.barbie:hover .barbie-content {
    transform: scale(1.3, 1.3);
}

.oppenheimer:hover {
    width: 90%;
}

.oppenheimer:hover .oppenheimer-content {
    transform: scale(1.3, 1.3);
}

.btn {
    cursor: pointer;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: var(--btn);
    color: var(--white);
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

button:hover {
    background-color: var(--btn-hover);
    box-shadow: 0 0 10px var(--btn);
    transform: scale(1.1);
}

button:active {
    background-color: var(--btn);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}